/********Variables**********/
/***Primary****/
:root{
    --primary-color: rgb(224,232,255);
    --secondary-color: rgb(56, 41, 224);
    --neutral-color: rgb(245,247,255);
    --neutral-desaturated: rgb(114,128,167);
    --neutral-dark-color: rgb(31,47,86);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
    background-image: url('./assets/images/pattern-background-desktop.svg');
    background-position: top;
    background-size: contain;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: 'Red Hat Display', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100vh;
    
    grid-template-areas: 
    ". order .";
    height:100vh;
}
p{
    font-size:12px;
    color:var(--neutral-desaturated);
    margin:12px 50px;
    line-height: 1.5;
}
app-order-summary{
    grid-area:order;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
@media(max-width:375px){
    body{
        background-image: url('./assets/images/pattern-background-mobile.svg');
    }
}
@media(min-width:1400px){
    .container{
        width:1440px;
        margin: 0 auto;
    }
}