<div class="order-container">
    <div class="order-header">
        <img src="assets/images/illustration-hero.svg"/>
    </div>
    <span class="order-title">Order Summary</span>
    <p>You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
    <div class="annual-card">
        <img src="assets/images/icon-music.svg"/>
        <div class="annual-plan-card">
            <span class="annual-text">Annual Plan</span>
            <span class="annual-value">$59.99/year</span>
        </div>
        <div class="anchor-content"><a href="#">Change</a></div>
        
    </div>
    <div class="btn-payment">
        <button type="button" class="payment-proceed">Proceed to Payment</button>
    </div>
    <div class="cancel-order">
        <a href="#">Cancel Order</a>
    </div>
</div>
